.main {
  position: relative;

  &__card {
    padding: 12rem 10rem;
    background-color: $white;
    display: flex;

    div {
      flex: 1;

      h2 {
        font-size: 56px;
        line-height: 130%;

        span {
          color: $red;
        }
      }

      p {
        font-size: 18px;
        display: inline-block;
      }

      a {
        background-color: $red;
        padding: 1.4rem;
        display: flex;
        margin-left: 4rem;
      }

      .main__text {
        font-size: 16px;
        padding: 2rem 0;
        font-family: "Roboto", sans-serif;
        line-height: 160%;
      }

      .main__text:nth-child(2) {
        margin-bottom: 3rem;
      }
    }
  }

  &__apply {
    position: absolute;
    right: -15%;
    top: -10%;
    background-color: $red;
    clip-path: circle(25% at 50% 50%);
    color: $white;
    padding: 8rem;
    display: inline-block;
    font-weight: 700;
    font-size: 12px;
  }

  &__scroll {
    position: absolute;
    top: -20%;
    left: -10%;

    img {
      position: absolute;
      left: 43%;
      top: 450%;
    }

    p {
      text-transform: uppercase;
      font-size: 8px;
      transform: rotate(-90deg);
      position: relative;
    }
  }

  &__img img {
    position: absolute;
    top: 50%;
    left: -5%;
    max-width: 45%;
  }

  &__button {
    display: flex;

    span {
      font-weight: bold;
    }
  }
}
